<table class="table">
  <thead>
    <tr>
      <th>User's nick</th>
      <th>User's tweets</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.nick, api_user_path(user) %></td>
          <td><%= link_to "See tweets", api_user_tweets_path(user) %></td>
        </tr>
      <% end %> 
  </tbody>
</table>