<table class="table">
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Verb</th>
      <th>URI</th>
      <th>Controller#Action</th>
    </tr>
  </thead>
  <tbody>
      <% @routes.reverse.each do |route| %>
        <% this_route = route.split(' ') %>
        <% this_route.unshift(nil) if this_route.count == 3 %>
        <tr>
          <td><%= this_route[0] %></td>
          <td><%= this_route[1]%></td>
          <td><%= this_route[2] %></td>
          <td><%= this_route[3]%></td>
        </tr>
      <% end %> 
  </tbody>
</table>